@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Cedarville+Cursive&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Wix+Madefor+Display:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-container-bg-color: white;
    --navigation-list-item-text-color: black;
    --tab-menu-list-li-hover-text-color: orange;
}

/* -------------------------utility classes------------------------------ */
.border {
    border: 2px solid black;
}

.invert {
    filter: invert(1);
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------main container  -------------------------------------------------*/
.mainContainer {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--main-container-bg-color);
}



/* --------------------navigation bar---------------------------- */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    /* background: linear-gradient(120deg, pink, red); */
}

.navBar-450px {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    display: none;
    padding: 5px 15px;
}

/* title */
.title {
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
}

.title-450px {
    display: none;
}

.closeButton {
    display: none;
}

/* navigation menu unordered list */
.navigationList {
    display: flex;
    width: 50%;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
    padding: 0 30px;
}

/* navigation menu  list item */
.navigationListItem {
    list-style: none;
}

/* navigation menu  list item anchor */
.navigationListItem a {
    text-decoration: none;
    color: var(--navigation-list-item-text-color);
}

.navigationListItem a:hover {
    text-decoration: underline;
    color: var(--navigation-list-item-text-color);
}

/* --------------------------home section of the main container --------------------------- */
.home {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

/* profile section inside home section */
.profile {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 10px;
    gap: 10vh;
}

/* profile details and profile picture */
.profileDetails-Picture {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    gap: 1vh;
}

/* profile details */
.profileDetails {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 5px;
    gap: 1vh;
}

/* name  */
.name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

/* profile detail info  */
.profileDetailInfo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
    font-size: 12px;
}

/* professionalLink */
.professionalLink {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.professionalLink ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

.professionalLink ul li {
    list-style: none;
}

.professionalLink ul li img {
    width: 20px;
    height: 20px;
}

.professionalLink ul li img:hover {
    cursor: pointer;
}


/* profile picture */
.profilePicture {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image inside profile picture */
.image {
    /* Animation properties */
    animation: wobble 10s ease-in-out infinite;
    overflow: hidden;

    /* Sizing and layout */
    width: 16rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    /* This is the initial state, will be animated */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* image */
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    animation: wobble 10s ease-in-out infinite;
}

/*  wobbly animation */
@keyframes wobble {
    0% {
        border-radius: 40% 60% 70% 30% / 40% 50% 60% 70%;
    }

    25% {
        border-radius: 50% 50% 30% 80% / 60% 40% 70% 50%;
    }

    50% {
        border-radius: 70% 30% 50% 50% / 30% 60% 40% 70%;
    }

    75% {
        border-radius: 30% 70% 80% 20% / 50% 70% 40% 60%;
    }

    100% {
        border-radius: 40% 60% 70% 30% / 40% 50% 60% 70%;
    }
}


/* techStack */
.techStack {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 10px;
    gap: 3%;
}

.techStack span {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 0px;
}

.techStack ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 0px;
    gap: 4%;
}

.techStack ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techStack ul li img {
    width: 20px;
    height: 20px;
}

.techStack ul li img:hover {
    cursor: pointer;
}

/* ---------------------------------about section---------------------------------- */

.about {
    display: flex;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20vh;
}

.aboutImage {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.aboutImage img {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.tab-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.tab-menu li {
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(214, 212, 212);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 14px;
}

.tab-menu li.active,
.tab-menu li:hover {
    background-color: var(--tab-menu-list-li-hover-text-color);
    color: #fff;
}

.about {
    padding-top: 1.5rem;
    line-height: 1.6;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.about-header h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.about-header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.about-header svg {
    width: 24px;
    height: 24px;
}

.about-info h5 {
    font-size: 1.2rem;
    margin-top: 0;
    color: #555;
}

.about-info p {
    margin-top: 10px;
}

.about-info ul {
    padding-left: 20px;
}

.about-info li {
    margin-bottom: 5px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.xp-item {
    margin-bottom: 1.5rem;
}

.xp-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.lang-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chip {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 500;
}

.subhead {
    font-size: 0.8em;
    color: #666;
    margin-left: 5px;
}

.intrests {
    width: 90%;
}

.two-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}


/*-------------------------------------project section---------------------------------------------*/
.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5vh;
    position: relative;
    padding: 15px;
    margin-bottom: 20vh;
}

.projectContent {
    display: flex;
    width: 90%;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    margin-bottom: 3vh;
    border-bottom: 0.5px solid rgba(146, 145, 145, 0.457);
}

.projectImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: auto;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    padding: 15px;
    gap: 2vh;
}

.projectImage img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.projectImage .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.projectImage .buttons .left,
.projectImage .buttons .right {
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid pink;
    color: black;
    box-shadow: 2px 2px 2px 1px #808080a1;
    padding: 4px 6px;
    transition: all 0.3s ease;
}

.projectImage .buttons .left:hover,
.projectImage .buttons .right:hover {
    background-color: pink;
    border: none;
    color: rgb(0, 0, 0);
    padding: 4px;
    cursor: pointer;
}

.projectDetails {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vh;
}

.projectDetails h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid grey;
}

.projectDetails p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 15px;
}

.projectButtons {
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 2px;
    width: 100%;
}

.projectButtons .button {
    width: 30%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid pink;
    color: black;
    box-shadow: 2px 2px 2px 1px #808080a1;
    padding: 4px 6px;
    transition: all 0.3s ease;
}

.projectButtons .button.active,
.projectButtons .button:hover {
    background-color: pink;
    border: none;
    color: rgb(0, 0, 0);
    padding: 4px;
    cursor: pointer;
}

.projectButtons .button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    gap: 4px;
}

.projectButtons img {
    width: 20px;
    height: 20px;
}

/* contacts----------------------------------------------------------- */
.contacts {
    display: flex;
    width: 100%;
    padding: 20px 10px;
    flex-wrap: wrap;
    position: relative;
}

.contacts ul {
    display: flex;
    width: 80%;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;
}

.contacts ul li {
    /* width: 30%; */
    padding: 10px 3px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    position: relative;
}

.contacts ul li a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    gap: 4px;
}

.contacts ul li a:hover {
    text-decoration: underline;
    color: orange;
}

.contacts ul li a img {
    width: 20px;
    height: 20px;
}

.contacts .copy1,
.contacts .copy2,
.contacts .copy3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: black;
    font-size: 15px;
    position: absolute;
    top: -50%;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.contacts .copy1:hover,
.contacts .copy2:hover,
.contacts .copy3:hover {
    background-color: rgb(34, 34, 34);
    display: flex;
}


.toTheTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(254, 219, 225);
    border: none;
    border-radius: 100%;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: 100;
}

.toTheTop:hover {
    background-color: rgb(249, 190, 200);
    cursor: pointer;
}

.toTheTop.visible {
    opacity: 1;
    visibility: visible;
}

/* media 990px */
@media (max-width:900px) {
    #aboutContent {
        width: 100%;
        font-size: 12px;
        margin-bottom: 10vh;
    }

    .tab-menu {
        width: 100%;
        gap: 5px;
    }

    .tab-menu li {
        padding: 10px 12px;
        font-size: 10px;
    }

    .chip {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19vw;
        height: 12vh;
        font-size: 10px;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .xp-title {
        font-weight: 400;
        padding: 0 10px;
        font-size: 10px;
    }

    .bullets {
        padding: 0 10px;
    }

    .bullets li {
        list-style: none;
    }

    .certifications ul li {
        margin-bottom: 10px;
    }

    .aboutImage {
        width: 40%;
        height: 50vh;
    }

    .projectDetails h3 {
        font-size: 17px;
    }

    .projectDetails p {
        font-size: 12px;
    }

    .projectButtons {
        margin-bottom: 10px;
    }

    .projectButtons .button {
        width: 40%;
    }

    .projectButtons .button a {
        font-size: 10px;
        gap: 3px;
    }

    .contacts ul {
        width: 100%;
        padding: 20px 6px;
    }

    .contacts ul li {
        width: auto;
        font-size: 11px;
    }
}

/* media query at 666px */
@media (max-width:666px) {
    .home {
        height: 120vh;
        margin-bottom: 6vh;
    }

    .profile {
        width: 95%;
        gap: 3vh;
    }

    .profileDetails-Picture {
        flex-direction: column-reverse;
    }

    .profileDetails {
        width: 80%;
    }

    .profilePicture {
        width: 61%;
    }



    .about {
        flex-direction: column;
    }

    .main-content {
        width: 90%;
    }

    .aboutImage {
        width: 90%;
        height: auto;
    }

    .projectButtons .button {
        width: 50%;
    }

    .projectButtons .button a {
        font-size: 8px;
    }

    .projectContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projectImage {
        width: 90%;
    }

    .projectImage .buttons .left,
    .projectImage .buttons .right {
        width: 30%;
    }

    .projectDetails {
        width: 90%;
    }

    .projectDetails h3 {
        justify-content: center;
        width: 90%;
    }

    .contacts ul {
        width: 100%;
        padding: 20px 6px;
        justify-content: space-evenly;
    }

    .contacts ul li {
        width: 40%;
        font-size: 11px;
    }

    .lang-grid {
        justify-content: space-between;
    }

    .chip {
        width: 46%;
        font-size: 9px;
    }

    .techStack {
        width: 95%;
        justify-content: center;
        /* padding-left: 54px; */
        padding: 3px 5px;
    }

    .techStack span {
        font-size: 15px;
    }

    .techStack ul li img {
        width: 15px;
        height: 15px;
    }

    .navigationListItem a {
        text-decoration: none;
        color: var(--navigation-list-item-text-color) black;
        font-size: 12px;
    }
}

/* media at 450px */
@media (max-width:450px) {
    .profileDetails {
        width: 90%;
    }

    .name {
        font-size: 16px;
    }

    .profileDetailInfo {
        font-size: 10px;
    }

    .profile {
        align-items: center;
    }

    .profileDetails-Picture {
        flex-direction: column-reverse;
        width: 95%;
    }

    .techStack span {
        font-size: 12px;
    }

    .about {
        padding: 5px;
        width: 95%;
    }

    .main-content {
        width: 100%;
    }

    #aboutContent {
        width: 100%;
        font-size: 10px;
        margin-bottom: 8vh;
    }

    .about-info h5 {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .projectDetails p {
        font-size: 10px;
    }

    .projectDetails h3 {
        font-size: 15px;
    }

    .projectImage {
        width: 100%;
        padding: 5px;
        gap: 1vh;
        margin-bottom: 4vh;
    }

    .projectImage .buttons .left,
    .projectImage .buttons .right {
        width: 18%;
        height: 5vh;
    }

    .projectImage .buttons .left svg,
    .projectImage .buttons .right svg {
        width: 16px;
        height: 16px;
    }

    .toTheTop {
        width: 30px;
        height: 30px;
    }

    .toTheTop svg {
        width: 15px;
        height: 15px;
    }

    .profilePicture {
        width: 61%;
    }

    .navBar {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        width: 60%;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        right: -200%;
        background-color: white;
        gap: 5vh;
    }

    .title {
        width: 100%;
        height: 20vh;
        justify-content: flex-end;
        padding: 5px 15px;
        align-items: flex-start;
    }

    .navigationList {
        flex-direction: column;
        width: 100%;
        height: 35vh;
        align-items: flex-end;
        justify-content: space-between;
    }

    .navBar-450px {
        display: flex;
    }

    .title-450px {
        width: 30%;
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        padding: 0 10px;
    }

    .hamburgerSvg:hover {
        cursor: pointer;
    }

    .contacts ul {
        flex-direction: column;
    }

    .contacts ul li {
        width: 90%;
        font-size: 14px;
    }

    .projectButtons .button {
        width: 30%;
    }

    .projectButtons .button a {
        font-size: 7px;
    }

    .home {
        height: 75vh;
        margin-bottom: 6vh;
    }

    .projects {
        margin-bottom: 10vh;
    }

    .closeButton {
        display: flex;
        position: absolute;
        left: 5%;
        top: 1%;
        cursor: pointer;
    }
}